nav {
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}

nav .logo img {
  height: 2rem;
}

nav ul {
  flex-direction: column;
  gap: 0.5rem;
}

.nav-links {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  flex-direction: column;
  padding: 1rem 0;
  gap: 0.5rem;
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-links.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.nav-toggle {
  display: block;
}

.nav-toggle img {
  transition: transform 0.3s ease;
}

.nav-toggle.rotate img {
  transform: rotate(180deg);
}

nav ul li {
  text-align: center;
}

.hero-message {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.scroll-btn img {
  width: 30px;
}

.dresses-section h2 {
  font-size: 1.8rem;
}

.dresses-section p {
  font-size: 1rem;
}

footer {
  font-size: 0.9rem;
}

.social-links a {
  display: inline-block;
  margin: 0.5rem;
}

.fq-grid {
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}

.fq-grid p {
  text-align: center;
}

.catalogue {
  flex-direction: column;
  padding: 0;
}

.filters-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  padding: 2rem;
  overflow-y: auto;
}

.close-filters {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.catalogue-container {
  width: 100%;
  padding: 0;
}

.handmade, .frequent-questions {
  padding: 1rem 0rem;
}

.hero-message {
  padding: 1rem 0;
}

.carousel-item {
  width: 10rem;
  height: 20rem;
}

.filters-container {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: white;
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


.filters-container.active {
  display: block;
  padding: 0;
}

.filter-toggle {
  display: block;
  background: #000;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.filters-container ul {
  width: fit-content;
}

.categories li, .stock li {
  width: fit-content;
}

.filters-container h2, .filters-container h1 {
  width: fit-content;
  margin-left: 1rem;
}

.product-images {
  flex-direction: column;
}

.product-details {
  flex-direction: column;
}
.small-images {
  flex-direction: row;
  order: 2;
}

#big-image {
  order: 1;
  height: 30rem;
  width: 100%;
}